<div class="animate__animated animate__fadeIn">
  <br />
  <h2>Search a Region</h2>
  <hr />
  
  <div class="row">
    <div class="col">
      <button
        *ngFor="let region of regions"
        class="btn regions"
        [class]="getCssBtnRegions(region)"
        (click)="search(region)"
      >
        {{ region }}
      </button>
  
      <app-error [errorMessage]="errorMessage"></app-error>
    </div>
  </div>
  
  <br />
  
  <div class="row">
    <div class="col">
      <app-country-table [countries]="countries"></app-country-table>
    </div>
  </div>
</div>
